html , 
body {
	 	margin:10;
	 	padding:10;
	 }
#block,
#graphics {
	
    position: absolute;
    width: 710px;



	 }
#block{
	 	z-index: 10;
	 	padding:10px;
	 }
.Absolute-Center {
	margin:auto;
	position: absolute;
	top:0; left:0; bottom: 0; right:0;
    vertical-align: center;
    height: auto;
    width: auto;
    
    
}
